body {
    background:#f5eff1;
    font-family: 'Baloo Tamma 2', cursive;
}
h1 {
    color: #444;
    text-align: center;
}

.app {
    padding: 0;
    box-sizing: border-box;
    width: 60%; 
}

.book-list {
    padding: 0;  
}

.book-list li {
    display: inline-block;
    margin: 12px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #880e4f;
    box-shadow: 1px 2px 3px rgba(0,0,0.3);
    cursor: pointer;
    color: #880e4f;
    background: #e8d7e2;
    position: relative;
    transition: .2s ease-in-out;
}
.book-list li:hover{
    transform: translateY(-2px);
    box-shadow: 1px 5px 6px rgb(70, 70, 70);
}

.list-item {
    position: relative;
    display: inline-block;
}

.list-item button {
    right: 0;
    top: 0;
    font-size: 1rem;
    padding: 0 4px;
    transform: rotateZ(45deg);
    transition: .2s ease-in-out;
    z-index: 1;
}

form {
    background: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 400px;
}

.field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
label {
    text-align: right;
    padding: 6px;
}

select, input {
    margin: 4px;
    padding: 6px;
    box-sizing: border-box;
}

button {
    color: #fff;
    font-size: 2rem;
    background: #ad1457;
    padding: 0 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    
}

form button {
    bottom: 10px;
    left: 10px;
}

.details {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: #ad1457;
    padding: 30px;
    overflow: auto;
    box-shadow: -2px -3px 5px rgba(0,0,0,.3);
    box-sizing: border-box;
    color: #fff;
}